<!DOCTYPE html>
<html lang="PT-BR">
    <head>
        <meta charset="UTF-8">
        <title>LoginMenager</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/create_account.css')}}">
        <script src="https://kit.fontawesome.com/694bd12192.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <main id="create-account">
            <form id="form-create-account" method="post">
                {{ form_create_account.csrf_token }}

                <h2 id="title">Create Account</h2>

                <div class="input-space">
                    <label class="form-label" for="full_name">Full Name</label>
                    {% if not form_create_account.full_name.errors %}
                        {{ form_create_account.full_name(class="text-field", autocomplete="off") }}
                    {% else %}
                        {{ form_create_account.full_name(class="text-field", autocomplete="off", style="border-color: red;") }}
                        <div class="invalid-feedback">
                            {% for erro in form_create_account.full_name.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="input-space">
                    <label class="form-label" for="email">Email</label>
                    {% if not form_create_account.email.errors %}
                        {{ form_create_account.email(class="text-field", autocomplete="off") }}
                    {% else %}
                        {{ form_create_account.email(class="text-field", autocomplete="off", style="border-color: red;") }}
                        <div class="invalid-feedback">
                            {% for erro in form_create_account.email.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="input-space">
                    <label class="form-label" for="phone">Phone</label>
                    {% if not form_create_account.phone.errors %}
                        {{ form_create_account.phone(class="text-field", autocomplete="off") }}
                    {% else %}
                        {{ form_create_account.phone(sclass="text-field", autocomplete="off", style="border-color: red;") }}
                        <div class="invalid-feedback">
                            {% for erro in form_create_account.phone.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="input-space">
                    <label class="form-label" for="username">Username</label>
                    {% if not form_create_account.username.errors %}
                        {{ form_create_account.username(class="text-field", autocomplete="off") }}
                    {% else %}
                        {{ form_create_account.username(class="text-field", autocomplete="off", style="border-color: red;") }}
                        <div class="invalid-feedback">
                            {% for erro in form_create_account.username.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="input-space">
                    <label class="form-label" for="password">Password</label>
                    {% if not form_create_account.password.errors %}
                        {{ form_create_account.password(class="text-field", autocomplete="off") }}
                    {% else %}
                        {{ form_create_account.password(class="text-field", autocomplete="off", style="border-color: red;") }}
                        <div class="invalid-feedback">
                            {% for erro in form_create_account.password.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <span id="password-view-button">
                        <i class="fas fa-eye-slash" id="password-view"></i>
                    </span>
                </div>

                <div class="input-space">
                    <label class="form-label" for="password_confirm">Password Confirmation</label>
                    {% if not form_create_account.password_confirm.errors %}
                        {{ form_create_account.password_confirm(class="text-field", autocomplete="off") }}
                    {% else %}
                        {{ form_create_account.password_confirm(class="text-field", autocomplete="off", style="border-color: red;") }}
                        <div class="invalid-feedback">
                            {% for erro in form_create_account.password_confirm.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <span id="password-confirm-view-button">
                        <i class="fas fa-eye-slash" id="password-confirm-view"></i>
                    </span>
                </div>

                <div id="form-submit-button">
                    {{ form_create_account.submit() }}
                </div>

                <a href="{{ url_for('login') }}">login</a>
            </form>
        </main>
        <script src="{{url_for('static', filename='js/create_account.js')}}"></script>
    </body>
</html>